button {
  height: 2rem;
  color: var(--eepy-theme-text);

  font-family: Dosis;
  font-size: 1rem;

  background: var(--eepy-theme-button);
  border: 1px solid var(--eepy-theme-button-border);
  box-shadow: 0 3px 0 var(--eepy-theme-button-border);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
button:hover {
  background: var(--eepy-theme-button-hover);
  cursor: pointer;
}
button:active {
  background: var(--eepy-theme-button-selected);
}

button.icon-button {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;

  &:hover {
    background: none;
    filter: brightness(105%);
  }
  &:active {
    filter: brightness(100%);
  }
}

button.info-button {
  transition: transform 50ms ease-out;
}
button.info-button:hover {
  transform: translateY(-0.1rem);
}
button.info-button:active {
  transform: translateY(0.125rem);
  box-shadow: none;
}
button.info-button.selected {
  background: var(--eepy-theme-button-selected);
  transform: translateY(0.125rem);
  box-shadow: none;
  user-select: none;
  cursor: default;
}

[data-theme='dark'] button.icon-button:hover {
  filter: brightness(80%);
}
