ul {
  list-style-type: none;
  padding: 0;
}

hr {
  border-radius: 2px;
}

section[id^='section-']:before {
  z-index: -5;
  content: '';
  position: absolute;
  inset: -6px;
  border: 2px solid var(--eepy-theme-background);
  border-radius: 12px;
}
section {
  position: relative;
  width: 100%;
  max-width: 1400px;
  padding: 2rem;
  background: var(--eepy-theme-background);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .section-title:before {
    z-index: -5;
    content: '';
    position: absolute;
    inset: -6px;
    border: 2px solid var(--eepy-theme-background);
    border-radius: 12px;
    /* border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
  }
  .section-title {
    position: absolute;
    top: -2rem;
    left: 0;
    padding: 0.5rem 0.75rem;
    
    border-radius: 8px;
    background: var(--eepy-theme-background);
    font-size: clamp(1.75rem, 5vw, 2.25rem);
    color: var(--eepy-theme-accent);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-wrap: nowrap;
    user-select: none;

    iconify-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  .section-content {
    max-width: 1400px;
    width: 100%;
  }
}

.deco-star {
  z-index: -2;
  position: absolute;
  color: var(--eepy-theme-star);
  filter: drop-shadow(0 0 8px var(--eepy-theme-star-glow));

  $size: clamp(1.5rem, 3.75vw, 2rem);
  $stroke: clamp(3px, 0.5vw, 4px);

  width: $size;
  height: $size;
}