ul {
  list-style-type: none;
  padding: 0;
}

hr {
  border-radius: 2px;
}

section {
  position: relative;
  width: 100%;
  max-width: 1400px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .section-title {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    text-wrap: nowrap;
    user-select: none;

    iconify-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  .section-content {
    max-width: 1400px;
    width: 100%;
  }
}

.page-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  position: relative;
}
.deco-star {
  z-index: 1;
  position: absolute;
  color: var(--eepy-theme-star);
  filter: drop-shadow(0 0 8px var(--eepy-theme-star-glow));

  $size: clamp(1.5rem, 3.75vw, 2rem);
  $stroke: clamp(3px, 0.5vw, 4px);

  width: $size;
  height: $size;
}

@media screen and (max-width: 767px) {
  section {
    padding: 1rem;
  }
}
