hr {
  border-radius: 2px;
}

.deco {
  position: absolute;
  $size: clamp(1.5rem, 3.75vw, 2rem);
  $stroke: clamp(3px, 0.5vw, 4px);
  $color: var(--eepy-theme-accent);

  width: $size;
  height: $size;
  border-radius: 4px;

  &.tl {
    inset: 0 auto auto 0;
    border-top: $stroke solid $color;
    border-left: $stroke solid $color;
  }
  &.tr {
    inset: 0 0 auto auto;
    border-top: $stroke solid $color;
    border-right: $stroke solid $color;
  }
  &.bl {
    inset: auto auto 0 0;
    border-bottom: $stroke solid $color;
    border-left: $stroke solid $color;
  }
  &.br {
    inset: auto 0 0 auto;
    border-bottom: $stroke solid $color;
    border-right: $stroke solid $color;
  }
}