// Native
a {
  display: inline-flex;
  gap: 4px;
}
a:not(.button-link, .card-link)[disabled],
a:not(.button-link, .card-link)[disabled]:visited {
  cursor: not-allowed;
  color: var(--eepy-color-disabled);
}

// Card-link
a.card-link:not([disabled]):hover {
  transform: scale(101.5%);
}
a.card-link:not([disabled]) {
  transition: transform 100ms ease-out;
}

// Other links
a:not(.button-link, .card-link),
a:not(.button-link, .card-link):visited {
  color: var(--eepy-color-text);
}
a.button-link,
a.card-link {
  text-decoration: none;
  color: var(--eepy-color-text);
}

// Theme-based selectors
[data-theme="dark"] {
  a:not(.button-link, .card-link, [disabled]):hover {
    filter: brightness(80%);
  }
}
[data-theme="light"] {
  a:not(.button-link, .card-link, [disabled]):hover {
    filter: brightness(250%);
  }
}
