// Native
a {
  display: inline-flex;
  gap: 4px;
}
a:not(.button-link, .card-link)[disabled],
a:not(.button-link, .card-link)[disabled]:visited {
  cursor: not-allowed;
  color: var(--eepy-theme-disabled);
}
a:not([disabled]):hover {
  cursor: pointer;
}
a[disabled]:hover {
  cursor: not-allowed;
}

// Card-link
a.card-link:not([disabled]):hover {
  transform: scale(101.5%);
}
a.card-link:not([disabled]) {
  transition: transform 125ms ease-out;
}

// Other links
a:not(.button-link, .card-link),
a:not(.button-link, .card-link):visited {
  color: var(--eepy-theme-text);
}
a.button-link,
a.card-link,
a.footer-link {
  text-decoration: none;
  color: var(--eepy-theme-text);
}

// Theme-based selectors
[data-theme='dark'] {
  a:not(.button-link, .card-link, [disabled]):hover {
    filter: brightness(80%);
  }
}
[data-theme='light'] {
  a:not(.button-link, .card-link, [disabled]):hover {
    filter: brightness(200%);
  }
}
