// ------------------------------------------------------------------------------------------------------------------
// headlines

h1 {
  font-family: Dosis;
  font-size: clamp(2rem, 5vw, 2.75rem);
  font-weight: 600;
  line-height: 0.95;
}
h2 {
  font-family: Dosis;
  font-size: clamp(2rem, 3.75vw, 2.25rem);
  font-weight: 600;
}
h3 {
  font-family: Dosis;
  font-size: clamp(1.125rem, 3.75vw, 1.5rem);
  font-weight: 700;
}

// ------------------------------------------------------------------------------------------------------------------
// custom tx-* classes

.tx-mono {
  font-family: monospace;
  font-size: 1.25em;
}
