// ------------------------------------------------------------------------------------------------------------------
// headlines

h1 {
  font-family: Dosis;
  font-size: clamp(2rem, 5vw, 2.75rem);
  font-weight: 600;
  line-height: 0.95;
}
h2 {
  font-family: Dosis;
  font-size: clamp(2rem, 3.75vw, 2.25rem);
  font-weight: 600;
}
h3 {
  font-family: Dosis;
  font-size: clamp(1rem, 3.75vw, 1.5rem);
  font-weight: 700;
}

// ------------------------------------------------------------------------------------------------------------------
// custom tx-* classes

.section-title {
  width: 100%;
  font-size: clamp(1.75rem, 5vw, 2.25rem);
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;

  hr.title-divider {
    border: 1px solid var(--eepy-color-accent);
    width: 100%;
  }
  .title-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--eepy-color-accent);
    padding: 0 1rem;
    iconify-icon {
      width: 1.5em;
      height: 1.5em;
    }
  }
  .title-bracket {
    font-size: 3rem;
    font-weight: 200;
    transform: translateY(-0.5rem);
  }
  h2 {
    transform: translateY(-0.375rem);
  }
}

.tx-nowrap {
  text-wrap: nowrap;
  word-break: keep-all;
}
.tx-mini {
  font-size: 0.33em;
  font-weight: 550;
}
.tx-mono {
  font-family: monospace;
  font-size: 1.25em;
}
