@font-face {
  font-family: 'Dosis';
  src: url("@/assets/fonts/Dosis/Dosis-VariableFont_wght.ttf") format("truetype");
  font-weight: 450;
}

span.material-symbols-rounded {
  font-variation-settings: 'FILL' 0;
}