*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  background: var(--eepy-color-background);
  background-attachment: fixed;
  scroll-behavior: smooth;
}

body {
  color: var(--eepy-color-text);
  border-radius: 2px;
  min-height: 100%;
  
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mono {
  font-family: monospace;
}