:root {
  --white: #fff;

  --eepy-color-primary: #221a1a;
  --eepy-color-secondary: #aa6971;
  --eepy-color-accent: #c99ea2;
  --eepy-color-accent-half: #e3c5c8;
  --eepy-color-green: #bcbfa3;
  --eepy-color-background: #ffeeef;

  --eepy-color-text: var(--eepy-color-primary);

  --eepy-color-card: #fff;
  --eepy-color-card-shadow: #dabcbc;
  --eepy-color-card-shadow-light: #f3d1d1;
  --eepy-color-cardlet: #915375;
  --eepy-color-panel: #683f58;

  --eepy-color-alert: #f00;
}

:root[data-theme='dark'] {
  --eepy-color-primary: #fcfcfc;
  --eepy-color-secondary: #382f47;
  --eepy-color-accent: #5f5170;
  --eepy-color-accent-half: #372f43;
  --eepy-color-green: #1e2a20;
  --eepy-color-background: #0f0d16;

  --eepy-color-text: var(--eepy-color-primary);

  --eepy-color-card: #1f1a27;
  --eepy-color-card-shadow: #373544;
  --eepy-color-card-shadow-light: #514e5f;
  --eepy-color-cardlet: #243a3f;
  --eepy-color-panel: #20182e;
  
  --eepy-color-alert: rgb(255, 116, 92);
}
