:root {
  --eepy-color-background: #ffeeef;
  --eepy-color-text: #221a1a;
  --eepy-color-bg-link-hover: #f0d7d7;
  --eepy-color-card: #fff;
  --eepy-color-card-shadow: #dabcbc;
  --eepy-color-card-shadow-light: #f3d1d1;
}

:root[data-theme='dark'] {
  --eepy-color-background: #0f0d16;
  --eepy-color-text: #ffeeef;
  --eepy-color-bg-link-hover: #34313d;
  --eepy-color-card: #0f0d16;
  --eepy-color-card-shadow: #fff;
  --eepy-color-card-shadow-light: #fff;
}