:root {
  --app-padding-main: 5rem;

  --eepy-score-unknown: #413333;
  --eepy-score-learning: #206dac;
  --eepy-score-like: #4cac20;
  --eepy-score-love: #b11515;
  --eepy-score-love-plus: #ac55b8;
  --eepy-score-fire: #e78c41;

  --eepy-color-angular: linear-gradient(90deg, #d4101d 0%, #cf21cd 50%, #8c11b1 100%);;
  --eepy-color-vuejs: #34495e;
  --eepy-color-java: #5382a1;
  --eepy-color-docker: #1d63ed;
  --eepy-color-kubernetes: #326ce5;
  --eepy-color-aws: #1d63ed;
}

@media screen and (max-width: 1023px) {
  :root {
    --app-padding-main: 2rem;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --app-padding-main: 1rem;
  }
}