:root {
  --app-padding-main: 5rem;
  --app-padding-border: 1.25rem;

  // about
  --eepy-color-vuejs: #34495e;
  --eepy-color-angular: linear-gradient(90deg,
    hsl(356, 83%, 43%) 0%,
    hsl(308, 75%, 40%) 50%,
    hsl(286, 82%, 38%) 100%
    );
  --eepy-color-java: #f4f2ed;
  --eepy-color-docker: #0e7ab9;
  --eepy-color-kubernetes: #326ce5;
  --eepy-color-illustrator: #300;
  --eepy-color-krita: linear-gradient(90deg,
    hsl(239, 36%, 51%) 0%,
    rgb(93, 57, 134) 100%
  );
  --eepy-color-darktech: #242938;
  
  // experiments
  --eepy-color-zephyrsd: #060915;
}

@media screen and (max-width: 1199px) {
  :root {
    --app-padding-main: 2rem;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --app-padding-main: 1rem;
    --app-padding-border: .75rem;
  }
}