a, a:visited {
  padding: 0 4px;
  border-radius: 4px;
  color: var(--eepy-color-text);
  
  display: inline-flex;
  align-items: center;
  gap: 2px;
}
a:hover {
  background-color: var(--eepy-color-bg-link-hover);
}