a {
  display: inline-flex; gap: 4px
}
a.button-link, a.card-link {
  text-decoration: none;
  color: var(--eepy-color-text);
}

a.card-link:not(.disabled) {
  transition: transform 100ms ease-out;
}
a.card-link:not(.disabled):hover {
  transform: scale(102.5%);
}
a.disabled {
  cursor: not-allowed;
}

a:not(.button-link, .card-link), a:not(.button-link, .card-link):visited {
  color: var(--eepy-color-text);
}

[data-theme="dark"] a:not(.button-link, .card-link):hover {
  filter: brightness(80%);
}

[data-theme="light"] a:not(.button-link, .card-link):hover {
  filter: brightness(250%);
}