button {
  font-family: Dosis;
  font-size: 1rem;
  color: var(--eepy-color-text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
button[icon-button] {
  background: none;
  border: none;
  padding: 4px;
}
button:hover {
  cursor: pointer;
}