// ------------------------------------------------------------------------------------------------------------------
// button
button {
  font-family: Dosis;
  font-size: 1rem;
  color: var(--eepy-color-text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
button[icon-button] {
  background: none;
  border: none;
  padding: 0;
}
button:hover {
  cursor: pointer;
}

// ------------------------------------------------------------------------------------------------------------------
// a
a { display: inline-flex; gap: 4px; }
a.disabled { cursor: not-allowed; }

a.card-link:not(.disabled):hover { transform: scale(102.5%); }
a.card-link:not(.disabled) { transition: transform 100ms ease-out; }

a:not(.button-link, .card-link), a:not(.button-link, .card-link):visited {
  color: var(--eepy-color-text);
}
a.button-link, a.card-link {
  text-decoration: none;
  color: var(--eepy-color-text);
}

[data-theme="dark"] a:not(.button-link, .card-link):hover { filter: brightness(80%); }
[data-theme="light"] a:not(.button-link, .card-link):hover { filter: brightness(250%); }


  
.icon {
  transform: rotateZ(5deg);
}
.icon.flip {
  transform: rotateY(180deg) rotateZ(-5deg);
}