*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: var(--eepy-theme-gradient-static);
  scroll-behavior: smooth;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  flex: 1;

  width: 100%;
  border-radius: 2px;
  background: var(--eepy-theme-gradient);
  color: var(--eepy-theme-text);

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 1fr min-content;
  gap: 6rem 0;
  align-items: flex-start;
}
// SVG wrappers
.svg-wrapper {
  display: flex;
}

@media screen and (max-width: 1023px) {
  body {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding: 0 1rem;
  }
}
