:root {
  --eepy-color-white: #fcfcfc;

  --eepy-theme-monochrome: #fff;

  --eepy-theme-primary: #221a1a;
  --eepy-theme-accent: #be99a0;
  --eepy-theme-accent-half: #be99a080;
  --eepy-theme-background: #fffafa;

  --eepy-theme-title-shadow: var(--eepy-theme-accent-half);
  --eepy-theme-text: #221a1a;
  --eepy-theme-lagrange: #354852;

  --eepy-theme-card: #fff;
  --eepy-theme-card-shadow: #dabcbc;
  --eepy-theme-card-shadow-light: #f3d1d1;
  --eepy-theme-cardlet: #915375;
  --eepy-theme-panel: #1f161b;

  --eepy-theme-disabled: #a3a3a3;
  --eepy-theme-alert: #da3923;
}

:root[data-theme="dark"] {
  --eepy-theme-monochrome: #000;

  --eepy-theme-primary: #fcfcfc;
  --eepy-theme-accent: #7d6e8f;
  --eepy-theme-accent-half: #2e2738;
  --eepy-theme-background: #050407;

  --eepy-theme-title-shadow: #fcfcfc;
  --eepy-theme-text: #fcfcfc;

  --eepy-theme-card: #1f1a27;
  --eepy-theme-card-shadow: #373544;
  --eepy-theme-card-shadow-light: #514e5f;
  --eepy-theme-cardlet: #243a3f;
  --eepy-theme-panel: #20182e;

  --eepy-theme-disabled: #535068;
  --eepy-theme-alert: #ff745c;
}
