:root {
  --white: #fff;

  --eepy-color-primary: #221a1a;
  --eepy-color-secondary: #aa6971;
  --eepy-color-accent: #c9b1b3;
  --eepy-color-accent-half: #e2cfd1;
  --eepy-color-accent-semi: #ffffff;
  --eepy-color-background: #fffafa;

  --eepy-color-text: var(--eepy-color-primary);
  --eepy-color-lagrange: #354852;

  --eepy-color-card: #fff;
  --eepy-color-card-shadow: #dabcbc;
  --eepy-color-card-shadow-light: #f3d1d1;
  --eepy-color-cardlet: #915375;
  --eepy-color-panel: #1f161b;

  --eepy-color-disabled: #beabab;
  --eepy-color-alert: #da3923;
}

:root[data-theme='dark'] { 
  --eepy-color-primary: #fcfcfc;
  --eepy-color-secondary: #382f47;
  --eepy-color-accent: #5f5170;
  --eepy-color-accent-half: #2e2738;
  --eepy-color-accent-semi: #38314444;
  --eepy-color-background: #050407;

  --eepy-color-text: var(--eepy-color-primary);

  --eepy-color-card: #1f1a27;
  --eepy-color-card-shadow: #373544;
  --eepy-color-card-shadow-light: #514e5f;
  --eepy-color-cardlet: #243a3f;
  --eepy-color-panel: #20182e;
  
  --eepy-color-disabled: #535068;
  --eepy-color-alert: #ff745c;
}
