:root {
  --app-padding-main: 8rem;
  --app-padding-border: 0.5rem;

  // about
  --eepy-theme-vuejs: #34495e;
  --eepy-theme-angular: linear-gradient(
    90deg,
    hsl(356, 83%, 43%) 0%,
    hsl(308, 75%, 40%) 50%,
    hsl(286, 82%, 38%) 100%
  );
  --eepy-theme-java: #f4f2ed;
  --eepy-theme-spring: #469420;
  --eepy-theme-docker: #0e7ab9;
  --eepy-theme-kubernetes: #326ce5;
  --eepy-theme-git: #c7402b;
  --eepy-theme-godot: #313b60;
  --eepy-theme-illustrator: #300;
  --eepy-theme-krita: linear-gradient(
    90deg,
    hsl(239, 36%, 51%) 0%,
    rgb(93, 57, 134) 100%
  );
  --eepy-theme-blender: #285684;
  --eepy-theme-darktech: #242938;
  --eepy-theme-interests: #6b4566;
}

@media screen and (max-width: 1199px) {
  :root {
    --app-padding-main: 5rem;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --app-padding-main: 3rem;
    --app-padding-border: 0.5rem;
  }
}
@media screen and (max-width: 567px) {
  :root {
    --app-padding-main: 1rem;
  }
}
