:root {
  --app-padding-main: 10rem;
  --app-padding-border: 0.5rem;
}

@media screen and (max-width: 1199px) {
  :root {
    --app-padding-main: 5rem;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --app-padding-main: 3rem;
    --app-padding-border: 0.5rem;
  }
}
@media screen and (max-width: 567px) {
  :root {
    --app-padding-main: 1rem;
  }
}
